<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sea king design</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="skd">
    <link rel="icon" href="{{ root }}favicon.ico" type="image/x-icon">
    {% for cssFile in manifest["css"] %}
    <link rel="stylesheet" type="text/css" href="{{ root }}{{ cssFile }}">
    {% endfor %}
</head>
<body>
<div id="react-content">
    {{ content | safe }}
</div>
{% for jsFile in manifest["js"] %}
<script src="{{ root }}{{ jsFile }}"></script>
{% endfor %}
</body>
</html>
