/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-result {
  text-align: center;
  width: 72%;
  margin: 0 auto;
}
.ant-result .success {
  color: #52c41a;
}
.ant-result .error {
  color: #f5222d;
}
.ant-result .icon {
  line-height: 72px;
  margin-bottom: 24px;
  display: inline-block;
  font-size: 12px;
  font-size: 72px \9;
  transform: scale(6) rotate(-12deg);
}
:root .ant-result .icon {
  font-size: 12px;
}
.ant-result-title {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 16px;
}
.ant-result-title-desc {
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 24px;
}
.ant-result-title-content {
  background-color: #fafafa;
  padding: 24px 40px;
  border-radius: 2px;
  text-align: left;
}
.ant-result-action {
  margin-top: 32px;
}
