.week-mode{
  overflow: hidden;
  filter: invert(80%);
}
.beauty-scroll{
  scrollbar-color: @primary-color @primary-2;
  scrollbar-width: 0px;
  -ms-overflow-style:none;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style:none;
  /*火狐下隐藏滚动条*/
  overflow:-moz-scrollbars-none;
  ::-webkit-scrollbar{
    display:none;
  }
  scrollbar-color: transparent transparent;
  &::-webkit-scrollbar{
    width: 0px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: @primary-color;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 3px;
    background: @primary-3;
  }
}
.split-right{
  &:not(:last-child) {
    border-right: 1px solid rgba(98, 98, 98, 0.2);
  }
}
.disabled{
  cursor: not-allowed;
  color: @disabled-color;
  pointer-events: none;
}
