.ant-steps-item-icon{
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 20px;
    font-family: Source Han Sans CN;
    margin-right: 10px !important;
}
.ant-steps-item-title{
    line-height: 50px !important;
    font-size: 18px !important;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #555555;
    padding-right: 10px !important;
}
.ant-steps-item-title::after{
    top: 25px !important;
}