.ant-btn-primary{
    background-color: @primary-color;
    border-color: @primary-color;
}
.ant-btn:hover, .ant-btn:focus{
    // color: @primary-color;
    background-color: rgba(@primary-color, .8);
    border-color: @primary-color;
}