.side-menu{
  overflow-y: auto;
  z-index: 10;
}
.menu{
  position: relative;
  top: 10px;
  left: -5px;
  padding: 16px 0;
  width: 321px !important;
  box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.1);
}
.ant-layout-sider{
  width: 321px !important;
  min-width: 321px !important;
}