.side-menu{
  overflow-y: auto;
  z-index: 10;
}
.ant-layout-sider{
  box-shadow: 0 -4px 8px -3px @shadow-shallow-color;
}
.ant-layout-sider{
  width: 251px !important;
  min-width: 251px !important;
}

.menu{
  border-color: transparent;
}