.h1-title-d(@color) {
  font-size: 24px;
  font-family: 'Source Han Sans CN';
  font-weight: 400;
  color: @color;
  line-height: 42px;
  margin: 0 0 25px 0;
}
.h2-title-d(@color) {
  font-size: 18px;
  font-family: 'Source Han Sans CN';
  font-weight: 400;
  color: @color;
  line-height: 36px;
  margin: 0 0 20px 0;
}
.text-d {
  font-size: 14px;
  font-family: 'Source Han Sans CN';
  font-weight: 400;
  color: #333333;
  line-height: 28px;
  margin: 0 0 16px 0;
}
.text-title-d {
  span {
    font-size: 16px;
    font-family: 'Source Han Sans CN';
    font-weight: 400;
    color: #333333;
  }
  font-size: 14px;
  font-family: 'Source Han Sans CN';
  font-weight: 400;
  color: #333333;
  line-height: 28px;
  margin: 0 0 16px 0;
}
.img-wrap-d {
  text-align: center;
  vertical-align: top;
  margin: 0 0 25px 0;
  & > div {
    display: inline-block;
    padding: 0 10px;
    .img {
      display: block;
      margin: 0 0 15px 0;
    }
    .img-title {
      font-size: 12px;
      font-family: 'Source Han Sans CN';
      font-weight: 400;
      color: #333333;
      line-height: 42px;
    }
  }
}
.img-clo-wrap-d {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #E5E5E5;
  .title {
    font-size: 12px;
    font-family: 'Source Han Sans CN';
    font-weight: 400;
    color: #333333;
    line-height: 42px;
    padding: 0 20px 0 0;
  }
  .img-conter {
    flex-grow: 1;
    text-align: left;
    border: 1px dashed #E5E5E5;
    padding: 5px;
    img {
      display: block;
    }
  }
  .img-title {
    width: 480px;
    flex-shrink: 0;
    font-size: 12px;
    font-family: 'Source Han Sans CN';
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    padding: 0 0 0 20px;
  }
}
